/* Universal */
body {
    background-color: black;
    color: white;
    align-content: center;
    height:100vh;
}

/* Header */
.header {
    margin: auto;
}

#gamer {
    width: 100%;
    height: 250px;
}

.cont {
    position: relative;
    text-align: center;
}
#vg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
    font-weight: bolder;
}

#mario {
    width: 350px;
    margin: 10px auto;
    display: block;
}


/* Game Content */
.wrapper {
    margin: 30px auto;
    border: 5px dotted white;
    height: 100vh;
}

.right {
    border-left: 5px dotted white;
}

.gtext {
    margin: 10px;
}
